@import 'tailwindcss';
@import "@fontsource/montserrat/400.css";
@import "@fontsource/montserrat/600.css";
@import "@fontsource/montserrat/700.css";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";

@theme {
  --color-primary:#0F172A;
  --color-secondary:#0EA5E9;
  --color-tertiary:#7DD3FC;
  --color-nav-bar:#071629;

  /* Typographie */

  --font-heading:"Montserrat" sans-serif ;
  --font-body:"inter" sans-serif;
}

.bar{
  box-shadow:0px 1px 12px var(--color-secondary);
}

.tel{
  backdrop-filter:blur(10px);
    box-shadow:0px 1px 10px var(--color-secondary);
}

.hero{
   box-shadow:0px 1px 10px black;
}

.rond{
      box-shadow:0px 0px 10px var(--color-tertiary);

}

.btn{
    box-shadow:0px 0px 10px var(--color-tertiary);
    animation-name: shad ;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-delay: 0s;
    animation-iteration-count: infinite;

}

@keyframes shad {
  0%{
        box-shadow:0px 0px 10px var(--color-tertiary);
  }

  50%{
        box-shadow:0px 0px 15px var(--color-tertiary);
  }


  100%{
        box-shadow:0px 0px 20px var(--color-tertiary);
  }
  
}
